@page "/accounts"
@implements IDisposable
@inject IActionDispatcher Dispatcher
@inject AccountStore AccountStore

<h3>Accounts</h3>
@if (accounts is not null)
{
    @foreach (var account in accounts)
    {
        <div>@account.AccountName</div>    
    }
}

@code {
    ICollection<Account> accounts;

    protected override Task OnInitializedAsync()
    {
        return Task.Run(() =>
        {
            AccountStore.AddStateChangeListener(UpdateView);
        });
    }

    protected override Task OnParametersSetAsync()
    {
        Dispatcher.Dispatch(new LoadAccountsAction(null));
        accounts = AccountStore.GetState().Value;
        return base.OnParametersSetAsync();
    }

    private void UpdateView()
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        AccountStore.RemoveStateChangeListener(UpdateView);
    }

}
