@page "/accounts"
@inject AccountService MyService

<PageTitle>Accounts</PageTitle>

<table class="table text-center">
    <thead>
        <tr class="row">
            <th class="col-1">No.</th>
            <th class="col-4">Email</th>
            <th class="col-2">Created at</th>
            <th class="col-3">Platform</th>
            <th colspan="2" class="col-2">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var account in @accountList)
        {
            <tr class="row ">
                <td class="col-1">1</td>
                <td class="col-4">@account.Email</td>
                <td class="col-2">@account.CreationDate</td>
                <td class="col-3">@account.Platform</td>
                <td class="col-1">
                    <button class="btn btn-outline-light">
                        <span class="oi oi-pencil"></span>
                        Edit
                    </button>
                </td>
                <td class="col-1">
                    <button class="btn btn-outline-danger">
                        <span class="oi oi-trash"></span>
                        Delete
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {

    List<Account> accountList = new List<Account>();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        accountList = MyService.GetAccountsAsync().Result.ToList();
    }


    //class AccountModel
    //{
    //    public string Id { get; set; } = null!;
    //    public string Email { get; set; } = null!;
    //    public string Password { get; set; } = null!;
    //    public string Platform { get; set; } = null!;
    //    public DateTime CreationDate { get; set; }
    //    public DateTime LastModification { get; set; }

    //    public AccountModel()
    //    {
    //        Id = Guid.NewGuid().ToString();
    //    }
    //}

    //protected override void OnInitialized()
    //{
    //    base.OnInitialized();

    //    accountList = new List<AccountModel>()
    //    {
    //        new AccountModel()
    //        {
    //            Email = "duy1@gmail.com",
    //            Password = "password123",
    //            Platform = "Facebook",
    //        },
    //        new AccountModel()
    //        {
    //            Email = "duy2@gmail.com",
    //            Password = "password123",
    //            Platform = "Facebook",
    //        },
    //        new AccountModel()
    //        {
    //            Email = "duy3@gmail.com",
    //            Password = "password123",
    //            Platform = "Facebook",
    //        },
    //        new AccountModel()
    //        {
    //            Email = "duy4@gmail.com",
    //            Password = "password123",
    //            Platform = "Facebook",
    //        },
    //    };

        //}


}
