@page "/dialog"

@if (display)
{
    <div class="modal" style="display: block">
        <div class="modal-dialog" role="document">
            <div class="modal-content" >
                <div class="modal-header">
                    <h5 class="modal-title">Warning</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure to delete this account?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" @onclick="Confirm">Delete</button>
                    <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal" @onclick="Close">Close</button>
                </div>
            </div>
        </div>
    </div>
}
<ConfirmationDialog @ref="confirmationDialog" />

@code {
    private ConfirmationDialog confirmationDialog = new();
    private bool display = false;

    public void Show()
    {
        this.display = true;
        StateHasChanged();
    }

    public void Close()
    {
        this.display = false;
        StateHasChanged();
    }

    public void Confirm()
    {
        this.display = false;
        confirmationDialog.Show();
    }
}
